/* @import url("https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Kiwi Maru", serif;
}
header {
  padding: 20px 21px;
}
main {
  background-color: #8277cc;
  padding-bottom: 200px;
}
#ctt {
  background-color: #fff;
  margin: 0 46px;
  border-radius: 200px;
}
p {
  line-height: 1.8;
  font-size: 22px;
  color: #292356;
}
.lowercase {
  line-height: 1.6;
  font-size: 15px;
}
h2 {
  font-size: 40px;
  font-weight: normal;
  margin-bottom: 48px;
  color: #292356;
}
nav {
  display: flex;
  align-items: center;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  gap: 12px;
}
.logo {
  font-family: "Darumadrop One", sans-serif;
  font-size: 36px;
  color: #292356;
}
.pp {
  font-size: 20px;
  color: #292356;
  margin-left: 73px;
}
a {
  text-decoration: none;
  color: #292356;
  font-size: 13px;
}
.hero .image-large {
  width: 100%;
  background-color: #ccc;
}
.intro {
  text-align: center;
  padding: 150px 0;
  margin: 118px 0 0 0;
}
.intro .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.container::before {
  content: "";
  width: 350px;
  height: 350px;
  position: absolute;
  top: 50%;
  left: 0;
  background-image: url(image/sab2.png);
}
.container::after {
  content: "";
  width: 350px;
  height: 350px;
  position: absolute;
  bottom: 60%;
  right: 0;
  background-image: url(image/sab1.png);
}
.text-box {
  width: 50%;
  margin: auto;
  padding: 4rem;
  text-align: center;
}
.text-box h2 {
  color: #fff;
  font-weight: 500;
  font-style: normal;
}
.text-box p {
  color: #fff;
  font-weight: 400;
  font-style: normal;
}
.text-box .textGap {
  margin-bottom: 25px;
}

.four-jobs {
  text-align: center;
  margin-top: 200px;
}
.text-boxSecond {
  width: 50%;
  padding: 10rem 4rem 4rem 0;
  text-align: left;
  position: relative;
  left: 10%;
}
.job-container {
  height: 2000px;
  display: flex;
  justify-content: center;
  gap: 50px;
  position: relative;
  margin-top: 50px;
}
.job-container p {
  text-align: left;
}
.job-box {
  margin-bottom: 20px;
}
.first {
  position: absolute;
  top: 20%;
  left: 10%;
}
.second {
  position: absolute;
  right: 10%;
}
.third {
  position: absolute;
  top: 70%;
  left: 10%;
}
.four {
  position: absolute;
  top: 50%;
  right: 10%;
}

#vertical {
  margin-top: 300px;
  margin-bottom: 200px;
}
.vertical {
  width: 100px;
  height: 150px;
  margin: auto;
  background-image: linear-gradient(
    90deg,
    transparent 51%,
    black 51%,
    black 52%,
    transparent 52%
  );
}

.epilogue {
  padding-bottom: 200px;
}
.epilogue p {
  font-size: 32px;
  line-height: 2;
  text-align: center;
}
.epilogue img {
  text-align: center;
  margin-top: 50px;
  width: 100%;
}

footer {
  text-align: center;
  margin: 74px;
}
footer .logo {
  font-size: 40px;
}
footer ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
  margin-top: 56px;
}
